
// COLORS
$color-white: #F3F3F3;
$color-balck: #000000;


$color-grey-OUT-one: #d8d7d7;     //$color-grey-one-OUT // FIX
$color-grey-OUT-tow:#e9e9e9;   //$color-light-grey-cover // FIX

$color-balck-triangle-IN: rgb(20, 20, 20);     //$color-balck-internal-triangle // FIX
$color-grey-triangle-OUT: rgb(85,84,84);     // $color-dark-grey-triangle-cover // FIX

$color-light-grey-main:rgba(238, 238, 238, 0.897); //


//GRID